<div class="row-fluid">
  <div class="span12" id="homeimage">
    Insert image
</div>
<div class="row">
    <div class="span3">
      <div class="sectiontile" id="tile-section" style="background: url('http://www.kahikai.org/images/explore/science.png')">
        <div class="title-overlay">
          <div class="title">Science</div>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="sectiontile" style="background: url('http://www.ncconstructionnews.com/wp-content/uploads/2012/12/Economy.jpg')">
        <div class="title-overlay">
          <div class="title">Economics</div>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="sectiontile" style="background: url('http://image.spreadshirt.com/image-server/image/composition/1502795/view/1/producttypecolor/1/type/png/width/280/height/280/i-love-history_design.png')">
        <div class="title-overlay">
          <div class="title">Social Science</div>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="sectiontile" id="section-tile" style="background: url('http://www.ncconstructionnews.com/wp-content/uploads/2012/12/Economy.jpg')">
        <div class="title-overlay">
          <div class="title">Arts and Humanities</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

  $('.result').hover(function() {
    $(this).find('div').slideUp(100);
  },
  function() {
    $(this).find('div').slideDown(50);
  });
 });

</script>