<div class="container">
	<div class="row">
		<div class="span12">
			<div class="query">
				<h1>Results for <em>how to register a car in california</em></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div class="result" style="background: url('http://www.mindtools.com/media/Diagrams/flowchart.GIF')">
				<div class="title-overlay">
					<div class="title">Registering a car in California</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="result" style="background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/9/91/LampFlowchart.svg/220px-LampFlowchart.svg.png') #fff">
				<div class="title-overlay">
					<div class="title">How to register a car at the DMV</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="result" style="background: url('http://creately.com/blog/wp-content/uploads/2011/11/Flowchart-Symbols1.png')">
				<div class="title-overlay">
					<div class="title">Car registration in California</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="result">
				<div class="title-overlay">
					<div class="title">TITLE</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="result">
				<div class="title-overlay">
					<div class="title">TITLE</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {

  $('.result').hover(function() {
  	$(this).find('div').slideUp(100);
  },
  function() {
  	$(this).find('div').slideDown(50);
  });
 });

</script>