<div class="container">
	<div class="row">
		<div class="span12">
			<div class="query">
				<h1>How to register a car in california</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="diagram">
			</div>
			<div>
				
			</div>
			<div class="comments">
				<h3>Discuss</h3>
				<div class="comment-box">
					<div class="comment">
						This is a great diagram.
					</div>
					<div class="comment last">
						You should also add the late fee information. 
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="span3">
			<h4>Versions</h4>
			<div>
			</div>
		</div> -->
	</div>
</div>

